.anvil-webform-step-bar a {
  display: none;
}

h1#header-title {
  display: none;
}

div.secondary-button-container {
  display: none;
}

h2#page-title {
  font-size: 18px;
  font-weight: 600;
  color: #303439;
}

div.forge-flow div.anvil-webform-page {
  background-color: #fff;
}

div#root .loading-spinner {
  border-left: 4px solid #4f46e5;
}
div#root div[cy="loadingOverlay"] {
  border-left: 4px solid #4f46e5 !important;
}

.anvil-review-data-card-item svg path {
  fill: #4f46e5;
}

div.basic-layout div.forge-flow .ant-select-selector {
  border-radius: 5px !important;
}

div.basic-layout div.forge-flow .anvil-input.ant-input {
  border-radius: 5px !important;
}

div.forge-flow .ant-btn.ant-btn-link,
.ant-btn.ant-btn-link:hover,
.ant-btn.ant-btn-link:active {
  color: #4f46e5 !important;
}

div.forge-flow
  .anvil-field:not(.ant-form-item-has-error):not(
    .ant-form-item-has-error .anvil-field
  )
  .anvil-input:hover,
.anvil-field:not(.ant-form-item-has-error):not(
    .ant-form-item-has-error .anvil-field
  )
  .anvil-input:active {
  border-color: #4f46e5;
}

div.forge-flow .ant-picker-input > input:hover {
  border: none !important;
}

div.forge-flow .ant-checkbox-wrapper .ant-checkbox-checked .ant-checkbox-inner {
  background: #4f46e5 !important;
  border: #4f46e5 !important;
}

body,
.forge-flow {
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  background-color: #fff;
}

#page-title {
  margin-bottom: 30px;
}

#page-title::after {
  display: none;
}

.form-group .ant-form-item-label {
  padding-bottom: 8px;
}

.form-group-header label > span {
  font-size: 14px;
  font-weight: normal;
  color: #303439;
}

.form-group label > span {
  font-size: 14px;
  font-weight: normal;
  color: #303439;
}

button.circle-icon-button-container[disabled] .button-circle {
  background: transparent !important;
}

.forge-flow > div:last-child {
  background: #fff;
  border-top: 1px solid #dcdde2;
  box-shadow: none;
}

/* body .ant-input:hover,
body .ant-input:focus,
body .ant-input:active,
body .ant-form-item-has-error .ant-input:hover,
body .ant-form-item-has-error .ant-input:active,
body .ant-form-item-has-error .ant-input:focus {
} */

.form-group input:focus:not(.ant-select-selection-search-input) {
  border: 1.5px solid #4f46e5 !important;
  box-shadow: none !important;
}

div.basic-layout div.forge-flow .ant-select-selector:focus {
  border: 1.5px solid #4f46e5 !important;
  box-shadow: none !important;
}
.ant-btn {
  border-radius: 5px;
}

.ant-btn.ant-btn-link span {
  color: #4f46e5 !important;
}

.ant-btn.ant-btn-cta,
.ant-btn.ant-btn-cta:hover,
.ant-btn.ant-btn-cta:active {
  background: #4f46e5;
  color: white;
}

/* 
.anvil-button-bar {
  display: none !important;
} */
