@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

.anvil-webform-step-bar a {
  display: none;
}

h1.header-title {
  display: none;
}

div.basic-layout div.anvil-webform-page {
  background-color: #fff;
}

div.basic-layout input.ant-input.anvil-input {
  border: 1px solid #dcdde2;
  border-radius: 5px;
}

div.basic-layout
  .anvil-field:not(.ant-form-item-has-error):not(
    .ant-form-item-has-error .anvil-field
  )
  .anvil-input:hover,
.anvil-field:not(.ant-form-item-has-error):not(
    .ant-form-item-has-error .anvil-field
  )
  .anvil-input:active {
  border-color: #4f46e5;
}

div.basic-layout .ant-picker-input > input:hover {
  border: none !important;
}

div.basic-layout input:checked {
  background-color: #4f46e5;
}

body,
.forge-flow {
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  background-color: #fff;
}

#page-title {
  margin-bottom: 30px;
}

#page-title::after {
  display: none;
}

.form-group .ant-form-item-label {
  padding-bottom: 8px;
}

.form-group label > span {
  color: #7b858e;
  font-size: 14px;
  font-weight: 600;
}

.form-group input {
  border: 1px solid #dcdde2;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px 15px;
}

button.circle-icon-button-container[disabled] .button-circle {
  background: transparent !important;
}

.forge-flow > div:last-child {
  background: #f8f8f8;
  box-shadow: none;
}

body .ant-input:hover,
body .ant-input:focus,
body .ant-input:active,
body .ant-form-item-has-error .ant-input:hover,
body .ant-form-item-has-error .ant-input:active,
body .ant-form-item-has-error .ant-input:focus {
  border-right-width: 1px !important;
}

.form-group input:focus {
  border: 1px solid #4f46e5 !important;
  background-color: #f5f7fe;
}

.ant-btn {
  border-radius: 5px;
}

.ant-btn.ant-btn-cta,
.ant-btn.ant-btn-cta:hover,
.ant-btn.ant-btn-cta:active {
  background: #4f46e5;
  color: white;
}

.ant-btn.ant-btn-link,
.ant-btn.ant-btn-link:hover,
.ant-btn.ant-btn-link:active {
  color: #4f46e5;
}
/* 
.anvil-button-bar {
  display: none !important;
} */
